{% extends 'root.html' %} 
{% block title %} 
Profile: {{ profile.name}}
{% endblock %}

{% block body %}
<h2>Profile: {{profile.name}}</h2>

<div>
  <div>
    <div>name: {{ profile.name }}</div>
    <div>username: {{ profile.username }}</div>
    <div>contact: {{ profile.contact }}</div>
    <div>initial weight: {{ profile.weight_initial }}</div>
    <div>goal weight: {{ profile.weight_goal }}</div>
    <div>daily ccal: {{ profile.daily_ccal }}</div>
</div>
  </div>
</div>

</div>
{% endblock %}